<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">{{ cadastro ? 'Novo Usuário' : 'Login' }}</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-danger" *ngIf='login'>
                                Login ou Senha incorreta.
                            </div>
                            <form loginForm="ngForm" (submit)="onSubmit()">
                                <div class="form-group">
                                    <label class="small mb-1">Login</label>
                                    <input type="text" ngModel='user' name="user" class='form-control py-4'
                                    placeholder="Digite o usuário">

                                </div>
                                <div class="form-group">
                                    <label class="small mb-1">Senha</label>
                                    <input type="password" ngModel='senha' name="senha" class='form-control py-4'
                                    placeholder="Digite a senha">

                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <button type="submit" class="btn btn-primary" *ngIf='!cadastro'>Enviar</button>
                                    <button type="button" class="btn btn-success" *ngIf='cadastro'>Cadastrar</button>
                                    <button type="button" class="btn btn-danger" *ngIf='cadastro' (click)='cancelarCadastro()'>Cancelar</button>
                                </div>
                            </form>

                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <a href="#" (click)='cadastrar($event);'>Cadastrar Usuário!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>
    </div>
</div>
