<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Livros</li>
    </ol>
  </nav>
  <div class="container">
    <div class="card list-car">
      <h5 class="card-header">Lista de Livros</h5>
      <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Páginas</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                
              <tr *ngFor="let livro of livros">
                <td>{{livro.id}}</td>
                <td>{{livro.titulo}}</td>
                <td>{{livro.autor}}</td>
                <td>{{livro.paginas}}</td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" (click)="editLivro(livro)">Editar</button>
                  <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteLivro(livro)">Deletar</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  
    <div class="card add-car">
        <h5 class="card-header">Adicionar/Atualizar Livros</h5>
        <div class="card-body">
            <form id="add-form" (ngSubmit)="f.form.valid && saveLivro(f)" #f="ngForm" novalidate>
              <div class="form-group">
                  <label for="titulo">Título</label>
                  <input type="text" [(ngModel)]="livro.titulo" id="titulo" name="titulo" #model="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && livro.titulo }" placeholder="Digite o Título">
              </div>
              <div class="form-group">
                  <label for="cautor">Autor</label>
                  <input type="text" [(ngModel)]="livro.autor" id="autor" name="autor" #color="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && livro.autor }" placeholder="Digite o Autor">
              </div>
              <div class="form-group">
                  <label for="paginas">Páginas</label>
                  <input type="number" [(ngModel)]="livro.paginas" id="paginas" name="paginas" #price="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && livro.paginas }" placeholder="Digite as paginas">
              </div>
              <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
              <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
            </form>
        </div>
      </div>
  </div>
